canvas {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}
body {
  background: black;
  margin: 0;
  padding: 0;
  align-items: center;
}
#content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 60vw;
  height: 82vh;
  margin: auto;
  margin-top: 4vh;
  
}
#poster{
  object-fit: contain;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}
#main_info{
  display: inline-block;
  vertical-align: middle;
  font-family: arial;
  font-style: normal;
  color: white;
  font-size: 4.5vmin;
  text-align: center;
  margin-bottom: 3%;
width: 50%;
line-height: 1.25;
}
@media screen and (min-height: 100vw) {
  /* The width is greater than the height */
  #content {
    width: 76vw;
    height: auto;
  }
  #poster,
  #main_info{
    width: 100%;
  }
}

.info{ 
  background: rgb(120, 120, 120);
  color: black;
}
.info_content{
  background: black;
  padding: 0.1em;
}
.info_group{
  margin: 0.16em;
}
#selection_title{
	font-style: italic;
}
.extras_group{
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5vmin;
  text-align: center;
  margin-top: 2%;
}
.colorshift{
  animation: rotate-hue 6s both infinite;
  animation-timing-function: linear;
}
#question_mark{
  font-family: arial;
  font-size: 8vmin;
  position: fixed;
  top: 4%;
  right: 7%;
  cursor: pointer;
  animation: rotate 6s both infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  0 {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes rotate-hue {
  0 {
    color: hsl(0, 100%, 50%);
  }
  25% {
    color: hsl(90, 100%, 50%);
  }
  50% {
    color: hsl(180, 100%, 50%);
  }
  75% {
    color: hsl(270, 100%, 50%);
  }
  100% {
    color: hsl(360, 100%, 50%);
  }
}

.modal {
  font-size: 1rem;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: white;
  font-family: arial;
  font-style: normal;
  background-color: rgb(10,10,10); 
  margin: auto;
  padding: 2em;
  border: 1px solid rgb(100,100,100);;
  width: 80vmin;
}

/* The Close Button */
.close {
  margin: 1%;
  color: #aaaaaa;
  float: right;
  font-size: 2em;
  font-weight: bold;
  transform: translate(90%,-60%);
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

